@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$ncols: 6;
ul {
  columns: $ncols;
  -webkit-columns: $ncols;
  -moz-columns: $ncols;
  list-style: none;
}

.theme--dark {
  color: #000 !important;
}

.theme--dark.v-input input,
.theme--dark.v-input textarea {
  color: #000 !important;
}

.v-application {
  background-color: none;
  background-image: url('../static/web-background.jpg') !important;
  font-family: 'Special Elite', sans-serif;
  color: #000;
}

#container {
  background-color: rgba(17, 17, 17, 0.3);
  height: 100vh;
  width: 100vw;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#field-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .v-input {
    width: 200px !important;
    color: #000;
  }
}
