<template>
  <v-app>
    <div id="container">
      <h1>K.T.A.N.E. Password Module Solver</h1>
      <div id="field-container">
        <v-text-field
          variant="solo"
          label="First letter"
          v-model="possibilities.first"
          @input="updateRegex()"
          color="#000"
        ></v-text-field>
        <v-text-field
          variant="solo"
          color="#000"
          label="Second letter"
          v-model="possibilities.second"
          @input="updateRegex()"
        ></v-text-field>
        <v-text-field
          variant="solo"
          color="#000"
          label="Third letter"
          v-model="possibilities.third"
          @input="updateRegex()"
        ></v-text-field>
        <v-text-field
          variant="solo"
          color="#000"
          label="Fourth letter"
          v-model="possibilities.fourth"
          @input="updateRegex()"
        ></v-text-field>
        <v-text-field
          variant="solo"
          color="#000"
          label="Fifth letter"
          v-model="possibilities.fifth"
          @input="updateRegex()"
        ></v-text-field>
      </div>

      <div id="regex-display">
        <v-checkbox
          v-model="displayRegex"
          label="Display the regex, for nerds"
          color="#000"
          hide-details
        ></v-checkbox>
        <span v-if="displayRegex">{{
          regex ? regex.toString() : 'Regex is null'
        }}</span>
      </div>

      <ul id="grid">
        <li class="word" v-for="(word, index) in filteredWords" :key="index">
          {{ word }}
        </li>
      </ul>
    </div>
  </v-app>
</template>

<script>
import { words, buildRegExp, filterWords } from '../assets/passwordModule'
export default {
  name: 'IndexPage',
  data() {
    return {
      possibilities: {
        first: '',
        second: '',
        third: '',
        fourth: '',
        fifth: '',
      },

      regex: null,
      filteredWords: [...words],
      displayRegex: false,
    }
  },

  methods: {
    updateRegex() {
      this.regex = buildRegExp(Object.values(this.possibilities))
      this.filteredWords = filterWords(this.regex)
    },
  },
}
</script>

<style lang="scss">
@import '../assets/style.scss';
</style>
